body {
    font-family: 'ZCOOL XiaoWei', serif;
    background-color: white;
}



/* cards */

.card-common {
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
}
.card-common:hover{
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-1px);
}

/* login styles */



input[type="text"], input[type="password"]{
outline: none;
padding: 20px;
display: block;
width: 100%;
border-radius: 3px;
border: 2;
height: 40px;
border-bottom: 1.5px solid #fff;
margin-bottom: 20px;

}
input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 100%;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #00b8eb;
}

input[type="number"] {
    border: 1;
}


/* navbar */

.sidebar {
    height: 100vh;
    background-color: rgb(0, 184, 235);
    box-shadow: 1px 7px 25px #333;

}

.bottom-border {
    border-bottom: 1px groove #000;
}

.sidebar-link{
    transition: all .4s;
}
.sidebar-link:hover{
    background-color: rgb(0, 37, 117);
    border-radius: 5px;
}
.search-input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all .4s ;
     
}

.search-input:focus {
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid rgb(0, 184, 235);
    color: white;
}

.search-button {
    border-radius: 50%;
    padding: 10px 16px;
    transition: all .4s;
    
}
.search-button:hover{
    background-color: #eee;
    transform: translateY(-1px);
}

.icon-parent {
    position: relative;

}

.paginador ul{
    padding: 15px;
    list-style: none;
    background: #FFF;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.paginador a{
    color: #428bca;
    border: 1px solid #ddd;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 35px;

}

.paginador a:hover{
    background: #ddd;
}

.pageSelected{
    color: #FFF;
    background: #003768;
    border: 1px solid #428bca;
}
.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    height: 12px;
    width: 12px;
    background-color: #f44336;
    border-radius: 50%;
}

@media (max-width: 768px){
    .sidebar{
        position: static;
        height: auto;
    }
    .top-navbar{
        position: static;
        
    }
}